@charset "UTF-8";

/* Todas as demais medias */

/* Typical Device Breakpoints 
--------------------------------
Pequenas telas: até 600px
Celular: 600px até 768px
Tablet: 768x até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

:root {
    --cor01: #D0D5ED;
    --cor02: #6364B6;
    --cor03: #010978;
    --cor04: #010141;
    --cor05: #E60807;

    --fonte-padrao: 'Times New Roman', Times, serif;
    --fonte-destaque: 'PT Serif', serif;
}

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    #itens {
        display: block;
    }

    header>menu {
        display: block;
    }

    menu>ul>li {
        display: inline-block;
        margin-right: 10px;
    }

    header>menu>ul>li>a {
        background-color: var(--cor04);
    }
}